@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .search-button
    margin-right: 20px


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  #common-home
    margin-top: 5px
  .header-articles
    a
      font-size: 14px
  .cart-search
    justify-content: center
  #cart
    button
      padding: 10px 5px
      span
        font-size: 14px
  #product-category
    #content
      h2
        margin-bottom: 10px
  .price-product-page
    .price-quantity-info
      .price
        font-size: 26px
    .quantity
      span
        font-size: 26px
/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .header-articles
    width: auto
    a
      height: 40px  
      border-bottom: 1px solid $text
  .nav.navbar-nav
    display: block
  .navbar
    .btn .btn-navbar
      display: block     
    .navbar-collapse
      top: 68px
      width: 768px
      display: none
      ul
        display: block
        a
          display: block
  #logo
    justify-content: center
  .header-cart
    i
      display: inline-block
      margin-right: 5px
  #cart
    background-color: transparent
    button
      background-color: transparent
      color: $text
      padding: 5px 2px
      span
        font-size: 18px
    &:hover
      background-color: transparent
  .cart-search
    justify-content: space-around
  .search-button
    color: $text
    .fa-search
      font-size: 18px
  .navbar
    height: 68px
    display: flex
    justify-content: center
    align-items: center
    .navbar-header
        margin: 0px
        i
          font-size: 24px
  .swiper-control
    .swiper-link, .swiper-pager
      height: 40px
  .img-responsive
    margin: auto
  #column-left
    a
      border-bottom: 1px solid $text
      margin-bottom: 0px
  header
    margin-bottom: 20px
  .swiper-viewport, .swiper-control
    display: none
  #content
    margin: 0
  html, body 
    overflow-x: hidden
  .product-thumb
    button
      height: 40px
  .product-layout 
    .product-thumb 
      .manager 
        .quantity-manager 
          .control
            height: 40px
  .btn-group
    position: static
  .cart-relative-desable
    position: static
  .dropdown-menu.pull-right
    right: 0
    left: 0
  .dropdown-menu
    top: 60px
    i
      margin: 0
  #cart .dropdown-menu li table
    width: 100%
  header
    position: fixed
    z-index: 1000
    background-color: #fff
    margin-bottom: 50px
    width: 100%
  #product-product, #product-category, #common-home, #information-information, #product-search, #checkout-cart, #checkout-checkout
    margin-top: 70px
  footer
    margin-top: 10px




/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .navbar
    .navbar-header
      .navbar-toggle
        i
          font-size: 20px
  .search-button
    margin-right: 10px
  .cart-search
    justify-content: space-around
  .search-button
    .fa-search
      font-size: 14px
  #cart

    button
      span
        font-size: 14px


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


@media only all and (width : 768px)
  .navbar
    .navbar-collapse
      width: 100%
      .header-articles
        width: 100%
        display: flex
        a
          display: flex
          justify-content: center
          align-content: center
          border-bottom: none
    





/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

