@import "bourbon"
@import "vars"
@import "fonts"

//Custom styles here

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.6
  overflow-x: hidden
  font-family: MyriadSetProText

header
  margin-bottom: 50px
  #logo
    height: 68px
    display: flex
    justify-content: start
    align-items: center
    img
      width: 180px


.header-articles
  display: flex
  justify-content: space-between
  width: 100%
  a
    height: 68px
    background-color: #f5f5f5
    width: 100%
    text-align: center
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    color: #6b6b6b
    transition: all .2s ease
    &:hover
      background-color: $grey2
      cursor: pointer
      color: #fff
    p
      margin: 0
  a.active
    background-color: #dfdfdf

.navbar
  margin-bottom: 0px
  .navbar-collapse
    padding: 0px

.cart-search
  display: flex
  justify-content: flex-end
  align-items: center

.search-button
  display: flex
  justify-content: center
  align-items: center
  margin-right: 40px  
  transition: all .3s ease
  color: $accent
  &:hover
    cursor: pointer
    .fa-search
      color: $accent2
  .fa-search
    font-size: 24px

.fa-search
  transition: all .3s ease


.header-cart
  height: 70px
  display: flex
  justify-content: center
  align-items: center
  button
    background-color: #fff
  i
    display: none

#search
	width: 100%
	font-family: Arial, sans-serif
	.form-control
		padding: 5px 16px
		height: 35px
		border: none
			radius: 0
		background-color: $grey1
		font:
			style: italic
			size: 16px
		color: $text
		transition: background-color .25s ease, box-shadow .25s ease
		box-shadow: transparent 0 0 0 1px inset
		&:focus, &:hover
			background-color: $grey2
			box-shadow: #777 0 0 0 1px inset
	.input-group-btn
		position: absolute
		right: 0px
		.btn
			padding: 9px 10px
			border: none
				radius: 0
			background-color: transparent
			color: #6b6b6b
			font-size: 13px



#search
  display: none
  height: 35px
  margin-bottom: 5px
  margin-top: 5px
  .input-group-btn
    width: auto
    display: block
    z-index: 5
    transition: all .3s ease

#cart
  transition: all .3s ease
  display: flex
  .cart-name
    display: inline-block
    padding: 16px 0px
  .btn-lg
    border-radius: 0px
  button
    border-radius: none
    transition: all .3s ease
    color: $text
    padding: 0 10px
  &:hover
    background-color: $accent2
    button[data-toggle="dropdown"]
      background-color: $accent2
      color: #fff
  .dropdown-menu
    min-width: 100%
    padding: 0 10px
    border-radius: 0
    li
      min-width: 100%
      p.text-center
        margin: 0px
        padding: 10px 0
        font-size: 16px
      a
        color: $accent
        transition: all .3s ease
        &:hover
          color: $accent2
      table
        margin-top: 10px
        width: 400px
        font-size: 16px
        color: $text
        img
          &:hover
            transform: scale(1.1)
        tbody
          tr
            td
              vertical-align: middle
              padding: 5px
          tr:nth-of-type(odd)
            background-color: $grey1
      a
        strong
          i
            display: inline-block
            margin-right: 5px
        td
          vertical-align: middle
      button
        i
          display: block
        width: 30px
        height: 30px
        border-color: $accent
        &:hover
          border-color: $accent2
          background-color: $accent2
          i
            color: #fff
  .order-confirm
    display: flex
    justify-content: space-around
#cart.open
  button[data-toggle="dropdown"]
    background-color: $accent2
    color: #fff  


.swiper-viewport
  box-shadow: none
  border-radius: none
  border: none
  margin: 0 0 10px

.swiper-control
  display: flex
  justify-content: space-between
  font-size: 20px
  a:hover, a:focus
    text-decoration: none
  .swiper-link
    width: 268px
    height: 68px
    background-color: $accent
    color: #fff
    justify-content: center
    align-items: center
    display: flex
    transition: all .3s ease
    p
      margin: 0
    &:hover
      background-color: $accent2
      cursor: pointer   
      text-decoration: none
      a
        text-decoration: none
        &:hover
          text-decoration: none
        &:focus
          text-decoration: none
  .swiper-pager
    position: relative
    width: 268px
    height: 68px
    right: 0px
    top: 100%
    background-color: $grey1
    transition: all .5s ease
    .swiper-button-next
      opacity: 1
      right: 0px
      width: 50%
      height: 100%
      top: 0px
      margin-top: 0px
      display: flex
      justify-content: center
      align-items: center
      &:before
        content: '\f105'
        display: block
        width: auto
        height: auto
        font-size: 28px
      &:hover
        background-color: $grey2
      &:hover:before
        color: #fff
    .swiper-button-prev
      opacity: 1
      left: 0px
      width: 50%
      height: 100%
      top: 0px
      margin-top: 0px
      display: flex
      justify-content: center
      align-items: center
      &:hover
        background-color: $grey2
      &:hover:before
        color: #fff
      &:before
        content: '\f104'
        display: block
        width: auto
        height: auto
        font-size: 28px

#common-home
  margin-top: 50px

.list-group
  a
    transition: background .25s ease, color .25s ease, text-indent .25s ease
  a.list-group-item
    &:hover
      background-color: $accent2
      color: #fff
      text-indent: 10px
    &:first-child,&:last-child
      border-radius: 0px
  .list-group-item.active
      background-color: $accent
      color: #fff

.list-group .list-group-item.active
  text-indent: 10px

.list-group-item
  border: 0px

#content
  margin-bottom: 70px
  user-select: none

#common-home
  margin-bottom: 20px
  h3
    text-align: center
    font-size: 36px
    font-family: MyriadSetProThin, sans-serif
    margin-bottom: 35px
    user-select: none

.product-layout
  .product-thumb
    padding: 12px
    margin-bottom: 35px
    position: relative
    transition: all .3s ease
    .image
      margin-bottom: 12px
    .manager
      .out-of-stock
        width: 100%
        margin-top: 38px
        display: flex
        justify-content: center
        align-items: center
        background-color: $grey1
        p
          font-size: 18px
          margin: 0
          user-select: none
      position: relative
      display: flex
      color: $text
      font-family: MyriadSetProSemiBold, sans-serif
      font-size: 18px
      p, span
        font-size: 18px 
      .price-manager
        width: 50%
        user-select: none
        .caption.bottom
          h4
            display: none
          p
            display: none
          .price
            text-align: center
            display: block
          .price-new, .price-tax
            display: none  
        .button-group    
          height: 25px
          button[data-toggle="tooltip"]
            display: none
          button
            display: block
            width: 100%
            background-color: $accent
            border: none
            button
            color: #fff
            font-family: MyriadSetProText, sans-serif
            transition: all .3s ease
            padding: 0px
            i
              display: none
            &:hover
              background-color: $accent2
            &:focus
              outline-color: transparent 

      .quantity-manager
        width: 50%
        text-align: center
        .quantity
          margin-bottom: 10px
        .control
          height: 28px
          width: 100%
          display: flex
          justify-content: space-around
          background-color: $grey1
          .increase, .decrease
            width: 50%
            font-size: 14px
            color: $text
            transition: all .3s ease
            display: flex
            align-items: center
            justify-content: center
            i
              display: block
              font-size: 24px
            &:hover
              background-color: $grey2
              color: #fff
              cursor: pointer
    border: 1px #fff solid
    &:hover
      box-shadow: 0 0 10px 
      .product-layout .caption-name.top-name
        h4  
          a
            color: $accent2
  .caption.top-name
    display: block
    h4
      margin: 0px
      margin-bottom: 10px
      a
        text-decoration: none
        font-size: 22px
        font-family: MyriadSetProText, sans-serif
        color: $text

.alert-success
  background-color: $grey1
  border-color: $accent2
  a
    color: $text

#column-left
  .list-group
    font-size: 18px

.breadcrumb
  display: none

#information-information, #information-contact, #information-business
  h1  
    font-size: 36px
    font-family: MyriadSetProThin, sans-serif
    margin: 0
    display: block
    border-bottom: 1px solid #eaeaea
    padding-bottom: 10px
    margin-bottom: 20px
  .form-horizontal
    .form-group
      width: 100%
      label
        display: block
#product-category, #product-product 
  #content
    .heading-title
      padding-bottom: 5px
      margin-bottom: 40px
      border-bottom: #EAEAEA 1px solid
      h2
        font-size: 36px
        font-family: MyriadSetProThin, sans-serif
    .form-group.input-group
      select
        &:hover
          cursor: pointer
      .form-control:focus
        border-color: $accent
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(81,15,53,.6)
      .input-group-addon
        background-color: $grey1
    h2
      margin: 0


.adding-to-cart
  display: none
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  background-color: rgba(203,202,204,0.1)      
  z-index: 5
  justify-content: center
  align-items: center
  p
    color: $text
    font-size: 36px
    font-family: MyriadSetProSemiBold, sans-serif
    text-align: center
    user-select: none
    line-height: 1.1  
  & ~ *
    transition: all .3s ease
  &.active ~ *
    opacity: 0.3
    transform: scale(0.7)
    -webkit-filter: sepia(0.8)
    filter: sepia(0.8)


.product-page-image
  list-style-type: none
  padding: 0
  margin: 0
  .thumbnail
    border-color: #fff
    border-radius: 0
    margin: 0px
    &:hover
      border-color: #fff
  .thumbnail
    &:focus
      border-color: #fff
.h1-product-page
  margin-top: 0
  margin-bottom: 20px
span.in-stock
  color: $accent2
  font-size: 18px

.form-group
  .out-of-stock
    width: 100%
    height: 68px
    background-color: $grey2
    border: none
    display: flex
    align-items: center
    justify-content: center
    span
      color: $text
      font-size: 24px
  label
    display: none
  input[name="quantity"]
    display: none
  .btn-page-product
    background-color: $accent
    border-radius: 0
    height: 68px
    border: none
    transition: all .3s ease
    &:hover
      background-color: $accent2


  .quantity-manager
    width: 100%
    text-align: center

    .control
      height: 33px
      width: 100%
      display: flex
      justify-content: space-around
      align-items: center
      background-color: $grey1
      .increase, .decrease
        height: 100%
        width: 50%
        color: $text
        transition: all .3s ease
        display: flex
        align-items: center
        justify-content: center
      i
        font-size: 28px
    .control>div:hover
      background-color: $grey2
      cursor: pointer
      i
        color: #fff
  
.product-info
  height: 100%

.price-product-page
  height: 55px
  display: flex
  align-items: center
  justify-content: center
  margin: 0
  li
    display: block
    margin: 0
  .price-quantity-info
    width: 100%
    display: flex
    justify-content: space-around
    .price, span
      user-select: none
      font-size: 40px
      font-family: MyriadSetProSemiBold, sans-serif

.price-product-page,.manager  
  .animated
    animation-duration: .3s  

.alert
  border-radius: 0px  

.nav-tabs
  border: none
  user-select: none
  margin: 10px 0px
  li
    display: flex
    a
      border-radius: 0
      i
        margin-right: 10px
        color: #fff
        font-size: 10px
      color: $text
      border: none
      transition: all .3s ease
      &:hover
        border: none  
  li.active
    a
      border: none
      color: $accent2
      i
        color: $accent2
      &:hover
        border: none
      &:focus
        border: none
        outline: none
        color: $accent2

  
.tab-content
  padding: 10px 0
  text-align: justify
  user-select: none
  .tab-pane
    span
      font-size: 16px!important
      font-family: MyriadSetProText,sans-serif!important
      color: #515050!important
      text-align: justify!important
  table.table-bordered
    border: none
    thead
      display: none
    tbody
      border: none
    tr
      font-size: 16px
      border: none
      td
        display: block
        border: none
        padding: 2px
        &:first-child
          color: lighten($text, 20)
          font-size: 16px
        &:last-child
          padding-bottom: 16px
  p
    font-size: 16px !important
    font-family: MyriadSetProText, sans-serif !important
    color: $text !important
    text-align: justify !important
    line-height: 26px !important
    span
      font
        font-size: 16px !important
        font-family: MyriadSetProText, sans-serif !important
        color: $text !important
        text-align: justify !important
    font
      span
        font-size: 16px !important
        font-family: MyriadSetProText, sans-serif !important
        color: $text !important
        text-align: justify !important


.input-group.custom
  display: flex
  align-items: center
  justify-content: space-around
  .input-value
    text-align: center
    span
      width: 100%
      margin: auto
      text-align: center
      font-size: 18px
  .cart-edit-buttons
    width: auto
    button.btn
      margin-left: 7px
      width: 30px
      height: 30px
      background-color: transparent
      border-radius: 2px !important
      padding: 0
      border: 1px solid $accent
      transition: all .3s ease
      i
        color: $text
      &:hover
        background-color: $accent2
        border-color: $accent2
        i
          color: #fff

.alert
  margin-top: 10px
  margin-bottom: 10px
  border-color: $accent2

.table
  a
    color: $accent2

.btn-primary
  background-color: $accent
  border-color: $accent  
  transition: all .3s ease
  &:hover
    background-color: $accent2
    border-color: $accent  

.form-group-mode
  label
    display: block  

#information-contact
  .panel-body
    .contact-logo
      text-align: center
      margin-bottom: 20px
    .row
      text-align: center
      margin-bottom: 20px

.delivery-notification
  p
    font-size: 24px
    color: darken(red, 20)
    font-family: MyriadSetProSemiBold, sans-serif
    line-height: 1.5


footer
  background-color: $grey1
  .flex-mode
    padding: 15px 0px
    display: flex
    justify-content: center
    align-items: center
    height: 40px
    h5
      height: 30px
      font-size: 22px
      color: darken($text, 20)
    ul
      width: 100%
      display: flex
      justify-content: space-around
      margin: 0
      li
        color: $text
        a
          font-size: 18px
        &:hover
          a
            color: $accent2
      a
        color: $accent
        transition: all .3s ease
        &:hover
          color: $accent2
          text-decoration: none
  .top-footer-info
    display: flex
    position: relative
    text-align: center
    color: $text
    user-select: none
    overflow: hidden
    padding: 10px 0px
    margin-bottom: 5px
    align-items: center
    i
      margin-right: 7px
    font-size: 18px
    a
      display: block
      color: $accent
      transition: all .3s ease
      &:hover
        text-decoration: none
        color: $accent2
    &:after
      content: ''
      position: absolute
      height: 1px
      width: 100%
      background-color: $grey2
      left: 0
      right: 0
      bottom: 0
      z-index: 10
  .bottom-footer-info
    overflow: hidden
    position: relative
    padding: 5px 0px
    color: lighten($text, 30)
    user-select: none
    &:before
      content: ''
      position: absolute
      height: 1px
      width: 100%
      background-color: $grey2
      left: 0
      right: 0
      top: 0
      z-index: 10       
    .about-payment
      img
        width: 100%

.form-control
  &:focus
    border-color: $accent2
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160,4,69,.6)

#product-search
  h2
    margin: 0
    font-family: MyriadSetProThin, sans-serif
    font-size: 36px
    border-bottom: 1px solid #eaeaea
    padding-bottom: 10px
    margin-bottom: 15px
  input
    margin-bottom: 10px
  input[type="button"]
    width: 100px
    border-radius: 0
    margin: 10px 0px
    margin-bottom: 15px

#form_2
  position: relative 

.preloader_2
	display: none
	top: 0
	left: 0
	bottom: 0
	right: 0
	position: absolute
	z-index: 50

.preloader_2
  background-color: rgba(255,255,255,0.8)

.pulsar
  left: 50%
  position: relative
  margin-left: -40px
  margin-top: -40px
  top: 50%
  display: block
  &::before
    content: ""
    width: 80px
    height: 80px
    border-radius: 80px
    position: absolute
    border: 5px solid $accent
    animation: pulse-outer 1.2s ease-in infinite
  &::after
    content: ''
    width: 80px
    height: 80px
    border-radius: 80px
    position: absolute
    border: 5px solid $accent2
    animation: pulse-inner 1.2s linear infinite

@mixin opacity($opacity)
	opacity: $opacity / 100
	filter: alpha(opacity=$opacity)

@keyframes pulse-outer
	0%
		@include opacity(100)
	50%
		@include opacity(50)
	100%
		@include opacity(0)
@keyframes pulse-inner
	0%
		@include opacity(0)
		transform: scale(0)
	100%
		@include opacity(100)
		transform: scale(1)

#form_2  
  margin-bottom: 25px
  padding: 0px 15px
  .success  
    display: none
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 10
    span
      font-size: 32px
  label
    display: block
  span
    font-family: MyriadSetProSemiBold, sans-serif
    justify-content: center
  .active ~ *
    filter: blur(3px)
  .box
    label
      position: relative
      margin-bottom: 12px
      input
        padding: 2px 15px
        width: 100%
        font-family: MyriadSetProThin, sans-serif
        &:focus
          // border-color: $accent
          outline-color: transparent
  button
    width: 100%
    background-color: $grey1
    color: #fff
    border: 1px #510f35 solid
    transition: all .3s ease
    font-size: 18px
    font-family: MyriadSetProSemiBold, sans-serif
    background-color: #510f35
    border-color: #510f35
    transition: all .3s ease
    &:hover
      background-color: $accent2
      color: #fff
    &:focus
      border-color: $text
      outline: none

.label-wrap
  position: relative

input, textarea
  border: 1px solid #ccc
  padding: 7px 14px 9px
  transition: 0.4s
  -webkit-focus-ring-color: none
  &:focus
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(160,4,69,.6)


.phone-code-label
  .phone-code
    opacity: 1
    position: absolute
    left: 0
    bottom: 0
    top: 0
    padding: 2px 5px
    transition: all .3s ease
    background-color: $grey1
    border: 2px solid #ccc

input[name="user_phone"]
  text-indent: 40px

input[name="user_phone"]:focus
  & ~ .phone-code
    opacity: 1
    background-color: $grey1
    border: 2px solid $accent2

input, textarea
  ~ .focus-border
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 0
      height: 2px
      background-color: $accent2
      transition: 0.3s
    &:after
      content: ""
      position: absolute
      top: 0
      left: 0
      width: 0
      height: 2px
      background-color: $accent2
      transition: 0.3s
      top: auto
      bottom: 0
      left: auto
      right: 0

    i
      &:before
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 2px
        height: 0
        background-color: $accent2
        transition: 0.4s

      &:after
        content: ""
        position: absolute
        top: 0
        left: 0
        width: 2px
        height: 0
        background-color: $accent2
        transition: 0.4s
        left: auto
        right: 0
        top: auto
        bottom: 0

  &:focus ~ .focus-border
    &:before, &:after
      width: 100%
      transition: 0.3s

    i
      &:before, &:after
        height: 100%
        transition: 0.4s

@-webkit-keyframes autofill
  to
    color: inherit
    background: transparent

input:-webkit-autofill
  -webkit-animation-name: autofill
  -webkit-animation-fill-mode: both

input
  &::-webkit-input-placeholder
    color: #999

  &:focus::-webkit-input-placeholder
    color: transparent

  &:-moz-placeholder
    color: #999

  &:focus:-moz-placeholder
    color: transparent

  &::-moz-placeholder
    color: #999

  &:focus::-moz-placeholder
    color: transparent

  &:-ms-input-placeholder
    color: #999

  &:focus:-ms-input-placeholder
    color: transparent



#information-business
  .about-us
    p
      font-family: MyriadSetProText, sans-serif
      margin: 0px
      padding: 0px 10px
      font-size: 18px
      text-align: justify
      margin-bottom: 15px
    span
      text-align: center
      width: 100%
      display: block
      font-size: 22px 

.btn-primary
  color: #fff
  &:active:hover
    background-color: #a22559
    border-color: $accent2
    -webkit-focus-ring-color: none
    color: #fff

.btn-primary[disabled="disabled"]
  background-color: #a22559
  border-color: $accent2
  -webkit-focus-ring-color: none
  color: #fff
  &:active:hover
    background-color: #a22559
    border-color: $accent2
    -webkit-focus-ring-color: none
    color: #fff
  &:hover
    background-color: #a22559
    border-color: $accent2
    -webkit-focus-ring-color: none
    color: #fff


body
  height: 100%
  display: flex
  flex-direction: column
  min-height: 100vh

#information-business
  flex: 1 0 auto

footer 
  flex: 0 0 auto

input[type="range"]
  border: none
  padding: 0
  outline-color: $accent
  &:focus
    border: none
    box-shadow: none

input[type="range"]::-webkit-slider-thumb
  background: $accent
  color: $accent

input[type="text"]:focus
  outline: none


.form-control  
  border-radius: 0

#product-product
  h3
    text-align: center
    font-size: 32px
    font-family: MyriadSetProThin,sans-serif
    margin-bottom: 20px
    margin-top: 25px

@import "media"
