@import "bourbon"
@import "vars"
@import "fonts"

//Custom styles here

body
  font-size: 16px
  min-width: 320px
  position: relative
  line-height: 1.6
  overflow-x: hidden
  font-family: MyriadSetProText

header
 #logo
    height: 68px
    display: flex
    justify-content: start
    align-items: center
    img
      width: 180px


.header-articles
  display: flex
  justify-content: space-between
  width: 100%
  a
    height: 68px
    background-color: #f5f5f5
    width: 100%
    text-align: center
    text-decoration: none
    display: flex
    justify-content: center
    align-items: center
    color: #6b6b6b
    transition: all .2s ease
    &:hover
      background-color: $grey2
      cursor: pointer
      color: $accent
    p
      margin: 0
  a.active
    background-color: #dfdfdf

.navbar
  margin-bottom: 0px
  .navbar-collapse
    padding: 0px

.cart-search
  display: flex
  justify-content: flex-end
  align-items: center

.search-button
  display: flex
  justify-content: center
  align-items: center
  margin-right: 40px  
  transition: all .3s ease
  color: $accent
  &:hover
    cursor: pointer
    .fa-search
      color: $accent2
  .fa-search
    font-size: 24px

.fa-search
  transition: all .3s ease


.header-cart
  height: 70px
  display: flex
  justify-content: center
  align-items: center
  button
    background-color: #fff
  i
    display: none

#search
	width: 100%
	font-family: Arial, sans-serif
	.form-control
		padding: 5px 16px
		height: 35px
		border: none
			radius: 0
		background-color: $grey1
		font:
			style: italic
			size: 16px
		color: $text
		transition: background-color .25s ease, box-shadow .25s ease
		box-shadow: transparent 0 0 0 1px inset
		&:focus, &:hover
			background-color: $grey2
			box-shadow: #777 0 0 0 1px inset
	.input-group-btn
		position: absolute
		right: 0px
		.btn
			padding: 9px 10px
			border: none
				radius: 0
			background-color: transparent
			color: #6b6b6b
			font-size: 13px



#search
  display: none
  height: 35px
  margin-bottom: 5px
  margin-top: 5px
  .input-group-btn
    width: auto
    display: block
    z-index: 5
    transition: all .3s ease

#cart
  transition: all .3s ease
  .btn-lg
    border-radius: 0px
  button
    border-radius: none
    transition: all .3s ease
    color: $text
  &:hover
    background-color: $accent2
    button[data-toggle="dropdown"]
      background-color: $accent2
      color: #fff
  .dropdown-menu
    min-width: 100%
    padding: 0 10px
    border-radius: 0
    li
      min-width: 100%
      p.text-center
        margin: 0px
        padding: 10px 0
        font-size: 16px
      a
        color: $accent
        transition: all .3s ease
        &:hover
          color: $accent2
      table
        margin-top: 10px
        width: 400px
        font-size: 16px
        color: $text
        img
          &:hover
            transform: scale(1.1)
        tbody
          tr
            td
              vertical-align: middle
              padding: 5px
          tr:nth-of-type(odd)
            background-color: $grey1
      a
        strong
          i
            display: inline-block
            margin-right: 5px
        td
          vertical-align: middle
      button
        i
          display: block
        width: 30px
        height: 30px
        border-color: $accent
        &:hover
          border-color: $accent2
          background-color: $accent2
          i
            color: #fff
  .order-confirm
    display: flex
    justify-content: space-around
#cart.open
  button[data-toggle="dropdown"]
    background-color: $accent2
    color: #fff  


.swiper-viewport
  box-shadow: none
  border-radius: none
  border: none
  margin: 0 0 10px

.swiper-control
  display: flex
  justify-content: space-between
  a:hover, a:focus
    text-decoration: none
  .swiper-link
    width: 268px
    height: 68px
    background-color: $accent
    color: #fff
    justify-content: center
    align-items: center
    display: flex
    transition: all .3s ease
    p
      margin: 0
    &:hover
      background-color: $accent2
      cursor: pointer   
      text-decoration: none
      a
        text-decoration: none
        &:hover
          text-decoration: none
        &:focus
          text-decoration: none
  .swiper-pager
    position: relative
    width: 268px
    height: 68px
    right: 0px
    top: 100%
    background-color: $grey1
    transition: all .5s ease
    .swiper-button-next
      opacity: 1
      right: 0px
      width: 50%
      height: 100%
      top: 0px
      margin-top: 0px
      display: flex
      justify-content: center
      align-items: center
      &:hover
        background-color: $grey2
      &:before
        content: '\f105'
        display: block
        width: auto
        height: auto
        font-size: 28px
    .swiper-button-prev
      opacity: 1
      left: 0px
      width: 50%
      height: 100%
      top: 0px
      margin-top: 0px
      display: flex
      justify-content: center
      align-items: center
      &:hover
        background-color: $grey2
      &:before
        content: '\f104'
        display: block
        width: auto
        height: auto
        font-size: 28px

#common-home
  margin-top: 50px

.list-group
  a
    transition: background .25s ease, color .25s ease, text-indent .25s ease
  a.list-group-item
    &:hover
      background-color: $accent2
      color: #fff
      text-indent: 10px
    &:first-child,&:last-child
      border-radius: 0px
  .list-group-item.active
      background-color: $accent
      color: #fff

.list-group .list-group-item.active
  text-indent: 10px

.list-group-item
  border: 0px

#content
  margin-bottom: 70px
  user-select: none

#common-home
  h3
    text-align: center
    font-size: 28px
    font-family: MyriadSetProThin, sans-serif
    margin-bottom: 50px
    user-select: none

.product-layout
  .product-thumb
    padding: 12px
    margin-bottom: 35px
    position: relative
    transition: all .5s ease
    .image
      margin-bottom: 12px
    .manager
      .out-of-stock
        width: 100%
        margin-top: 38px
        display: flex
        justify-content: center
        align-items: center
        background-color: $grey1
        p
          font-size: 18px
          margin: 0
          user-select: none
      position: relative
      display: flex
      color: $text
      font-family: MyriadSetProSemiBold, sans-serif
      font-size: 18px
      p, span
        font-size: 18px 
      .price-manager
        width: 50%
        user-select: none
        .caption.bottom
          h4
            display: none
          p
            display: none
          .price
            text-align: center
            display: block
          .price-new, .price-tax
            display: none  
        .button-group    
          height: 25px
          button[data-toggle="tooltip"]
            display: none
          button
            display: block
            width: 100%
            background-color: $accent
            border: none
            button
            color: #fff
            font-family: MyriadSetProText, sans-serif
            transition: all .3s ease
            padding: 0px
            i
              display: none
            &:hover
              background-color: $accent2
            &:focus
              outline-color: transparent 

      .quantity-manager
        width: 50%
        text-align: center
        .quantity
          margin-bottom: 10px
        .control
          height: 28px
          width: 100%
          display: flex
          justify-content: space-around
          background-color: $grey1
          .increase, .decrease
            width: 50%
            font-size: 14px
            color: $text
            transition: all .3s ease
            display: flex
            align-items: center
            justify-content: center
            i
              display: block
              font-size: 24px
            &:hover
              background-color: $grey2
              color: $accent
              cursor: pointer
    border: 1px #fff solid
    &:hover
      border: 1px $grey2 solid
      .product-layout .caption-name.top-name
        h4  
          a
            color: $accent2
  .caption.top-name
    display: block
    h4
      margin: 0px
      margin-bottom: 10px
      a
        text-decoration: none
        font-size: 22px
        font-family: MyriadSetProText, sans-serif
        color: $text

.alert-success
  background-color: $grey1
  border-color: $accent2
  a
    color: $text

#column-left
  .list-group
    font-size: 18px

.breadcrumb
  display: none

#product-category, #product-product
  margin-top: 70px
  #content
    .heading-title
      padding-bottom: 5px
      margin-bottom: 40px
      border-bottom: #EAEAEA 1px solid
      h2
        font-size: 36px
        font-family: MyriadSetProThin, sans-serif
    .form-group.input-group
      select
        &:hover
          cursor: pointer
      .form-control:focus
        border-color: $accent
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(81,15,53,.6)
      .input-group-addon
        background-color: $grey1
    h2
      margin: 0


.adding-to-cart
  display: none
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0
  background-color: rgba(203,202,204,0.1)      
  z-index: 5
  justify-content: center
  align-items: center
  p
    color: $text
    font-size: 36px
    font-family: MyriadSetProSemiBold, sans-serif
    text-align: center
    user-select: none
    line-height: 1.1  
  & ~ *
    transition: all .3s ease
  &.active ~ *
    opacity: .3
    transform: scale(0.8)


.product-page-image
  list-style-type: none
  padding: 0
  margin: 0
  .thumbnail
    border-color: #fff
    border-radius: 0
    margin: 0px
    &:hover
      border-color: #fff
  .thumbnail
    &:focus
      border-color: #fff
.h1-product-page
  margin-top: 0
  margin-bottom: 20px
span.in-stock
  color: $accent2
  font-size: 18px

.form-group
  .out-of-stock
    width: 100%
    height: 68px
    background-color: $grey2
    border: none
    display: flex
    align-items: center
    justify-content: center
    span
      color: $text
      font-size: 24px
  label
    display: none
  input[name="quantity"]
    display: none
  .btn-page-product
    background-color: $accent
    border-radius: 0
    height: 68px
    border: none
    transition: all .3s ease
    &:hover
      background-color: $accent2


  .quantity-manager
    width: 100%
    text-align: center

    .control
      height: 33px
      width: 100%
      display: flex
      justify-content: space-around
      align-items: center
      background-color: $grey1
      .increase, .decrease
        height: 100%
        width: 50%
        color: $text
        transition: all .3s ease
        display: flex
        align-items: center
        justify-content: center
      i
        font-size: 28px
    .control>div:hover
      background-color: $grey2
      cursor: pointer
  
.product-info
  height: 100%

.price-product-page
  height: 55px
  display: flex
  align-items: center
  justify-content: center
  margin: 0
  li
    display: block
    margin: 0
  .price-quantity-info
    width: 100%
    display: flex
    justify-content: space-around
    .price, span
      user-select: none
      font-size: 40px
      font-family: MyriadSetProSemiBold, sans-serif

.price-product-page,.manager  
  .animated
    animation-duration: .3s  

.alert
  border-radius: 0px  

.nav-tabs
  border: none
  user-select: none
  margin: 10px 0px
  li
    display: flex
    a
      border-radius: 0
      i
        margin-right: 10px
        color: #fff
        font-size: 10px
      color: $text
      border: none
      transition: all .3s ease
      &:hover
        border: none  
  li.active
    a
      border: none
      color: $accent2
      i
        color: $accent2
      &:hover
        border: none
      &:focus
        border: none
        outline: none
        color: $accent2

  
.tab-content
  padding: 10px 0
  text-align: justify
  user-select: none
  table.table-bordered
    border: none
    thead
      display: none
    tbody
      border: none
    tr
      font-size: 16px
      border: none
      td
        display: block
        border: none
        padding: 2px
        &:first-child
          color: lighten($text, 20)
          font-size: 16px
        &:last-child
          padding-bottom: 16px
  p
    font-size: 16px !important
    font-family: MyriadSetProText, sans-serif !important
    color: $text !important
    text-align: justify !important
    line-height: 26px !important
    span
      font
        font-size: 16px !important
        font-family: MyriadSetProText, sans-serif !important
        color: $text !important
        text-align: justify !important
    font
      span
        font-size: 16px !important
        font-family: MyriadSetProText, sans-serif !important
        color: $text !important
        text-align: justify !important

.input-group.custom
  display: flex
  align-items: center
  justify-content: space-around
  .input-value
    text-align: center
    span
      width: 100%
      margin: auto
      text-align: center
      font-size: 18px
  .cart-edit-buttons
    width: auto
    button.btn
      margin-left: 7px
      width: 30px
      height: 30px
      background-color: transparent
      border-radius: 2px !important
      padding: 0
      border: 1px solid $accent
      transition: all .3s ease
      i
        color: $text
      &:hover
        background-color: $accent2
        border-color: $accent2
        i
          color: #fff

footer
  background-color: $grey1

@import "media"
