{{ header }}
<div id="information-business" class="container">
				<form id="form_2" class="input_form_1">
					<div class="box box1">
						<label>
							<input type="text" name="user_name" placeholder="Введите Ваше имя" required>
						</label>
					</div>
					<div class="box box2">
						<label>
							<input type="text" name="user_email" placeholder="Введите Ваш E-mail" required>
						</label>
					</div>
					<button class="buttons com_offer1">Коммерческое предложение</button>
				</form>
</div>
{{ footer }}
<script>
    $("form#form_2").submit(function() { //Change
      console.log('!!!');
        var th = $(this);
        $('.preloader_2').css("display","block");
        $.ajax({
            type: "POST",
            url: "phpmailer/mail2.php", //Change
            data: th.serialize()
        }).done(function() {
            $('.preloader_2').css("display","none");
            $('.main-form_wrap .success').addClass('active').css('display','flex').hide().fadeIn();
            setTimeout(function() {
                $('.main-form_wrap .success').removeClass('active').fadeOut();
                th.trigger("reset");
            }, 2000);
        });
        return false;
    });
</script>