{{ header }}
<div id="information-business" class="container">

{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div class="content col-sm-9">
    <h1>Юридическим лицам</h1>
      <div class="about-us">
        <p><span>ВИТАМИНБОКС<span></p>
        <p> - это команда молодых профессионалов,
 которые любят фрукты и овощи,
а главное знают как их выбрать.
Напрямую работаем с Айзербаджаном,
Израилем, Ираном, Турцией, Вьетнамом
и Таиландом.
И если у нас чего-то нету, знаем,
где найти отличный продукт!
</p>
<p>Для получения прайс-листа заполните форму.</p>
</div>
				<form id="form_2" class="input_form_1">
        <div class="preloader_2"><div class="pulsar"></div></div>
        <div class="success"><span>Запрос успешно обработан</span></div>
					<div class="box box1">
						<label>
							<input type="text" name="user_name" placeholder="Название организации" required pattern="\D{2,}">
                            <span class="focus-border">
                            <i></i>
                            </span>
						</label>
					</div>
					<div class="box box2">
						<label>
							<input type="text" name="user_email" placeholder="E-mail" required pattern="\S+@[a-z]+.[a-z]+">
						    <span class="focus-border"><i></i></span>
                        </label>
					</div>
          	<div class="box box3">
						<label class="phone-code-label">
							<input type="text" name="user_phone" placeholder="Номер телефона" required pattern="(17|44|33|29|25){1}[0-9]{7}">
						    <span class="focus-border"><i></i></span>
                            <span class="phone-code">+375<span>
                        </label>
					</div>
					<button class="buttons com_offer1">Запросить прайс-лист</button>
				</form>
</div>
    </div>
      
{{ footer }}
<script>
    $("form#form_2").submit(function() { //Change
        var th = $(this);
        $('.preloader_2').css("display","block");
        $('#form_2  .success').addClass('active')
        $.ajax({
            type: "POST",
            url: "phpmailer/mail.php", //Change
            data: th.serialize()
        }).done(function() {
            $('.preloader_2').css("display","none");
            $('#form_2  .success').css('display','flex').hide().fadeIn();
            setTimeout(function() {
                $('#form_2 .success').removeClass('active').fadeOut();
                th.trigger("reset");
            }, 2000);
        });
        $.ajax({
            type: "POST",
            url: "phpmailer/mail2.php", //Change
            data: th.serialize()
        });
        return false;
    });
</script>